<!DOCTYPE html>
{% include 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add card</title>
</head>
<body>
    <br/>
    <form method="post">
        {% csrf_token %}
        <div class="form-group" align="center" style="padding:60px;">
            <input type="text" class="form-control" name="title" value="{{ task.title }}"/><br/>
            <input type="text" class="form-control" name="description" value="{{ task.description }}"/><br/>
            <input type="text" class="form-control" name="type" value="{{ task.type }}"><br/>
            <input type="date" class="form-control" name="deadline" value="{{ task.deadline|date:"Y-m-d" }}"><br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>